matplotlib 
numpy 
pandas
seaborn
torch 
transformers 
accelerate
jupyter
ipykernel 
scipy
scikit-learn==1.4.0
xgboost
tensorflow 
keras
imbalanced-learn
scikit-bio


#matplotlib==3.3.4
#numpy==1.19.5 
#pandas==1.1.5
#seaborn==0.9.0
#torch
#transformers 
#accelerate
#jupyter
#ipykernel 
#scipy
#scikit-learn==1.2.2
#scikit-image==0.18.3
#xgboost==1.5.0
#tensorflow 
#keras
